@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.btn {
    padding: 8px 15px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
}

.btn-red-sm {
    color: white;
    background-color: #e50914;
    padding: 8px 15px;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
}

.hero {
    text-align: center;
    color: white;
    position: relative;
    z-index: 10;
    top: 70px;
}

.hero > span {
    display: block;
    font-size: 22px;
    margin-top: 20px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero input {
    padding: 10px 25px;
    border: 0;
    outline: none;
    border-radius: 4px;
    width: 300px;
    font-size: 16px;
    color: black;
}

.hero .btn-red {
    color: white;
    background-color: #e50914;
    padding: 10px 25px;
    border: 0;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.separation {
    background-color: #222;
    height: 6px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 120px;
    color: white;
}

.first > div > span:nth-child(1) {
    font-size: 42px;
    font-weight: 700;
}

.first > div > span:nth-child(2) {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    display: block;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 400px;
    height: auto;
}

.secImg video {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.faq {
    color: white;
    text-align: center;
    padding: 60px 120px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    padding: 16px 30px;
    font-size: 24px;
    margin-bottom: 5px;
    cursor: pointer;
}

.faqbox svg {
    cursor: pointer;
}

.faqbox span {
    flex-grow: 1;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    color: #757575;
    gap: 24px;
}

.footer-item a {
    display: block;
    color: #757575;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 16px;
}

.footer-item a:hover {
    text-decoration: underline;
}

.questions {
    color: white;
    font-size: 22px;
    padding: 30px 0;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .secImg img {
        width: 300px;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .hero > span {
        font-size: 16px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero input {
        width: 100%;
        margin-bottom: 10px;
    }
}
